.container {
    text-align: center;
}
  
.video-container {
    margin-top: 20px;
}
  
.video {
    width: 600px;
}
  
.channel-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.channel-card {
    cursor: pointer;
    width: 150px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 5px;
}
  
.channel-card.active {
    border: 2px solid blue;
}
  
.channel-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.boton-elegante {
  padding: 15px 30px;
  border: 2px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  margin-bottom: 20px;
}

.boton-elegante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
  transform: scale(4);
}

.boton-elegante:hover {
  border-color: #666666;
  background: #292929;
}
  

@media (max-width: 768px) {
    .channel-card {
      width: 120px;
    }
  
    .boton-elegante {
      padding: 8px 16px;
      font-size: 14px;
    }
}
  
@media (max-width: 480px) {
    .video {
      width: 100%;
    }
  
    .channel-card {
      width: 100%;
      max-width: 300px;
    }
  
    .boton-elegante {
      padding: 6px 12px;
      font-size: 12px;
    }
}